screen_brightness: 50
# openweathermap.org
api_key: ""
# hr24 sets 24 hour clock, degc sets celsius
hr24: true
degc: true
# d_weather = number of minutes between weather updates. default 5, minimum 2
d_weather: 30
# Set your COM port e.g. COM3 for Windows, /dev/ttyACM0 for Linux, etc. or "AUTO" for auto-discovery
# COM_PORT = "/dev/ttyACM0"
# COM_PORT = "COM5"
COM_PORT: "AUTO"
# Display revision: A or B (for "flagship" version, use B) or SIMU for simulated LCD (image written in screencap.png)
# To identify your revision: https://github.com/mathoudebine/turing-smart-screen-python/wiki/Hardware-revisions
REVISION: "A"